.not-found {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not-found__title {
  margin: 0;
  font-weight: normal;
  font-size: 140px;
  line-height: 169px;
}

.not-found__subtitle {
  margin: 5px 0 184px;
  font-size: 16px;
  line-height: 19px;
}

.not-found__link {
  font-size: 14px;
  line-height: 17px;
  color: rgba(52, 86, 243, 1);
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.not-found__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 470px) {
  .not-found__title {
    margin-top: auto;
    font-size: 80px;
    line-height: 97px;
  }

  .not-found__subtitle {
    margin-top: 10px;
    margin-bottom: auto;
    font-size: 12px;
    line-height: 15px;
  }

  .not-found__link {
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 30px;
  }
}
